# -----------------------------
# Visual Studio / C++ project
# -----------------------------
*.obj
*.pdb
*.ipdb
*.idb
*.pch
*.pdb
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.log
*.tlog
*.lastbuildstate
*.ilk
*.exe
*.dll
*.lib
*.exp
*.vcxproj.user
*.VC.db
*.VC.opendb

# Visual Studio folders
simulator/.vs/
simulator/x64/
simulator/x86/
simulator/Debug/
simulator/Release/
simulator/GeneratedFiles/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
out/

simulator/**/x64/
simulator/**/Debug/
simulator/**/Release/